@inherits System.Web.Mvc.WebViewPage
<div class="wrapper-md">
    <div class="v-center-outer">
        <div class="v-center-inner">
            <h1 class="text-center">We're Sorry!</h1>
            <p class="text-center">
                oops
            </p>
        </div>
    </div>
</div>